<div class="row">
  <div class="small-10 small-centered columns text-center">
    <h2> {{cookiecutter.project_name}} </h2>
  </div>
</div>
<div class="row">
  <div class="small-10 small-centered columns text-center">
    <form class="login-form">
      <div class="row">
        <div class="small-8 small-centered columns">
          <fieldset>
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Username</label>
              </div>
              <div class="small-9 columns">
                <input type="text" ng-model="temps.username" id="right-label" placeholder="Phone Number">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Password</label>
              </div>
              <div class="small-9 columns">
                <input type="password" ng-model="temps.password" id="right-label" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="small-12 small-centered columns text-center">
                <ul class="button-group">
                  <li><a ng-click="login();" class="button">Login</a></li>
                </ul>
                <div ng-if="temps.loading"><i class="fa fa-cog fa-spin fa-2x"></i></div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</div>
