<top-bar>
  <ul class="title-area">
    <li class="name">
      <h1><a ui-sref="home">{{cookiecutter.project_name}}</a></h1>
    </li>
    <li toggle-top-bar class="menu-icon"><a>Menu</a></li>
  </ul>

  <top-bar-section>
    <!-- Right Nav Section -->
    <ul class="right">
    </ul>

    <!-- Left Nav Section -->
    <ul class="right">
      <li has-dropdown>
        {% raw %}
        <a>{{CurrentUser.profile.full_name}}</a>
        {% endraw %}
        <ul top-bar-dropdown>
          <li><a ui-sref="login">Logout</a></li>
        </ul>
      </li>
    </ul>
  </top-bar-section>
</top-bar>
